<div class="panel panel-info" style="margin-top:1em">
		<div class="panel-heading">
			<h1 class="panel-title" style="font-size:2em">
				謝謝您的參與
			</h1>
		</div>
</div>

<div class="panel-body">
	<p class='lead'>
		<b>Thank you very much for your participation.</b>
		<br/><br/>
		請按下完成鍵以結束測驗
	</p>
	<div class="text-center proceed" style="margin: 30px auto 10px;">
		<button pi-message-done type="button" class="btn btn-primary">
			完成
		</button>
	</div>
</div>





