<div class="panel panel-info" style="margin-top:1em">
		<div class="panel-heading">
			<h1 class="panel-title" style="font-size:1.5em">
				測驗結束
			</h1>
		</div>
</div>

<div class="panel-body">
	<p class='lead'>
		<b>感謝您的參與！</b>
		<br/><br/>
		按下完成鍵以導向回饋抽獎表單
	</p>
	<div class="text-center proceed" style="margin: 30px auto 10px;">
		<button pi-message-done type="button" class="btn btn-primary">
			完成
		</button>
	</div>
</div>





