<div class="panel panel-info" style="margin-top:1em">
		<div class="panel-heading">
			<h1 class="panel-title" style="font-size:1.5em">
				諮商心理專業助人工作者性傾向內隱態度與性傾向諮商勝任力相關研究
			</h1>
		</div>
</div>

<div class="panel-body">
	<p class='lead' style="font-size: 1.2em">
非常感謝您的協助以及對於性傾向諮商勝任力相關議題的重視，</br>
本問卷已於2024年10月13日關閉。</br></br>
如有任何問題請不吝來信聯絡：</br>
國立臺灣師範大學教育心理與輔導學系碩士班</br>
指導教授：喬虹 助理教授</br>
研究生：林威宇</br>
email：61001030e@gapps.ntnu.edu.tw</br>
		
	</p>
	
</div>





